.quiet {
  opacity: .6;
}

#main {
  .actions-and-shows {
    .shows {
      &.summary-active {
        > header {

        }

        > .content {
          .customer {

          }
          .items {
            margin: 5px 0 0 0;
          }
          .sum-up {
            height: 200px;
          }
        }
      }
      &.customer-active {
        > .content {
          .customer {
            .label {
              border-bottom-color: #f2f2f2;
              .show {
                .literal {
                  margin: 0 0 0 55px;
                  &:before {
                    opacity: 0;
                  }
                }
              }
              .cancel {
                width: 70px;
              }
              .done {
                width: 70px;
              }
            }
            .extend {
              height: 330px;
              opacity: 1;
              .wrapper {
                margin-top: 0;
                opacity: 1;
              }
            }
          }
          .items {
            margin: 5px 0 0 0;
          }
          .sum-up {
            height: 50px;
          }
        }
      }
    }
  }
}