.quiet {
  opacity: .6;
}

.items {
  > li {
    &.active {
      margin: 15px 0;
      border-bottom: solid 1px #e6e6e6;
      .extend {
        height: auto;
        opacity: 1;
      }
      &:first-child {
        margin: -1px 0 15px 0;
      }
      &:last-child {
        margin: 15px 0 0 0;
      }
    }
  }
}

#main {
  .actions-and-shows {
    .shows {
      &.summary-active {
        > header {

        }

        > .content {
          .customer {

          }
          .items {
            margin: 5px 0 0 0;
          }
          .sum-up {
            height: 160px;
          }
        }
      }
      &.customer-active {
        > .content {
          .customer {
            .label {
              border-bottom-color: #f2f2f2;
              .show {
                .literal {
                  margin: 0 0 0 55px;
                  &:before {
                    opacity: 0;
                  }
                }
              }
              .cancel {
                width: 70px;
              }
              .done {
                width: 70px;
              }
            }
            .extend {
              height: 320px;
              opacity: 1;
              .wrapper {
                margin-top: 0;
                opacity: 1;
              }
            }
          }
          .items {
            margin: 5px 0 0 0;
          }
          .sum-up {
            height: 50px;
          }
        }
      }
    }
  }
}